html, body, #root {
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: default;
}

input, button {
  font: inherit;
}

.Tray {
  background: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 1.5rem;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.Tray::before {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -10px;
}

.Settings .setting {
  margin: 1rem 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.Settings input {
  cursor: pointer;
}

.Settings label {
  cursor: pointer;
  padding-left: 0.5rem;
  margin-top: -0.15rem;
}

.feedback {
  clear: both;
  text-align: center;
  padding-top: 1rem;
}

.feedback button {
  margin: 0 auto;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  color: #666;
  font-size: 12px;
  background: none;
  box-shadow: none;
  border: 0;
}

p:last-child {
  padding-bottom: 0;
}